@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
